/*TermsPage Style begins*/

.terms-logo,
.terms-logo img {
  width: 230px;
  max-height: 100%;
  /* never exceed button height */
  max-width: 100%;
  /* prevents it from spilling horizontally */
  /* scale naturally */
  object-fit: contain;
  display: block;
  cursor: default;
}
.terms-container {
    background-color: #4e5158;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .terms-scroll-box {
    background-color: #ddd;
    color: black;
    width: 80%;
    max-width: 800px;
    height: 400px;
    padding: 1rem;
    overflow-y: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }
  
  .terms-checkbox-label {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }
  
  .terms-button-group {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .terms-cancel-button {
    background-color: #ff4d4d;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  
  .terms-continue-button {
    background-color: #4da6ff;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  .terms-cancel-button:hover {
    color: #ffffff !important;
    border-color: #646cff !important;
    outline: #646cff !important;
    box-shadow: 0 4px 8px rgba(100, 108, 255, 0.4);
  }
  
  .terms-continue-button:hover {
    color: #ffffff !important;
    border-color: #646cff !important;
    outline: #646cff !important;
    box-shadow: 0 4px 8px rgba(100, 108, 255, 0.4);
  }

  .terms-error-message {
    color: #ff4d4f;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
  }
  
  /*TermsPage Style ends*/