/* Timer.css */
.timer-circle {
    width: 200px;
    height: 200px;
    background-color: #3e444e;
    border: 6px solid #ef4444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timer-text {
    font-size: 2rem;
    font-weight: bold;
  }
  