/* WebcamFeed.css */
.webcam-feed {
  border: 2px solid #66aaff;
  width: 90%;                /* or max-width: 800px; */
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

  .webcam-feed, .webcam-feed img {
    border-radius: 20px;
  }
  
  .webcam-feed img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }