/* WebcamFeed.css */
.webcam-feed {
  display: flex;
  border: 2px solid #66aaff;
  width: 92%;                /* or max-width: 800px; */
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1067px;
  max-height: 600px;
}

  .webcam-feed, .webcam-feed img {
    border-radius: 20px;
  }
  
  .webcam-feed img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    .webcam-feed {
        width: 100%;
        max-width: 1422px;
        max-height: 800px;
      }
}
