/* pages/NotFoundPage/NotFoundPage.css */

.notfound-text {
    text-align: center;
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
  }
  
  .notfound-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  