.focus-button{
    background-color: transparent;
    border: 1px solid white;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500 !important;
    border-radius: 15px;
}


h3 {
    margin: 0 !important;
    font-size: 1.1rem;
}