.focus-button{
    background-color: transparent;
    border-color: white;
    color: white;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500 !important;
    max-width: 230px !important;
    width: auto;
}

h3 {
    margin: 0 !important;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
}